body {
    background-color: rgb(58, 51, 58);
    background-image: url(../img/bg-dark-0002.gif);
}

h3,
h4 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.h3_left {
    text-align: left;
}


.container {
    padding: 50px;
    text-align: center;
    background-color: white;
    margin: 0 20% 0 20%;
    min-height: 80vh;
}

.homework,
.tag_decription,
.items,
.item {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.schedule {
    text-align: center;
}

.div_right {
    text-align: right;
}

.h2center {
    text-align: center;
}

.tag {
    color: #069;
    font-weight: bold;
}

.sample {
    background-color: rgba(156, 157, 158, 0.801);
    margin: 20pt;
    padding: 10pt;
}

a:hover,
a:active {
    color: #f66d52;
    cursor: pointer;
}

.context_scroll--up a {
    position: fixed;
    width: 40px;
    height: 40px;
    top:40vh;
    left: 50px;
}

.context_scroll--down a{
    position: fixed;
    width: 40px;
    height: 40px;
    bottom:40vh;
    left: 50px;
}